@use 'carbon-components/scss/globals/scss/spacing';

$nav-height: 3rem;

:host {
  .main-content {
    margin-top: $nav-height;
    padding: spacing.$spacing-03 spacing.$spacing-08;
    min-height: calc(100vh - $nav-height);
  }

  .species-menu {
    &:has(.cds--header__menu-item--current) {
      ::ng-deep {
        .cds--header__menu-title {
          &::after {
            position: absolute;
            background-color: var(--cds-border-interactive, #0f62fe);
            block-size: 3px;
            content: '';
            inline-size: calc(100% + 4px);
            inset-block-end: -2px;
            inset-inline-start: -2px;
          }
        }
      }
    }
  }

  ::ng-deep {
    gridster-item {
      background-color: var(--cds-background);
    }
  }
}
