@use 'carbon-components/scss/globals/scss/spacing';

$nav-height: 3rem;

:host {
  .main-content {
    margin-top: $nav-height;
    padding: spacing.$spacing-03 spacing.$spacing-08;
    min-height: calc(100vh - $nav-height);
  }

  .species-menu {
    &:has(.cds--header__menu-item--current) {
      ::ng-deep {
        .cds--header__menu-title {
          background-color: var(--cds-background-selected);
        }
      }
    }
  }

  ::ng-deep {
    gridster-item {
      background-color: var(--cds-background);
    }
  }
}
