@use 'carbon-components/scss/globals/scss/spacing';

$nav-height: 3rem;

:host {
  .main-content {
    margin-top: $nav-height;
    padding: spacing.$spacing-03 spacing.$spacing-08;
    min-height: calc(100vh - $nav-height);
  }

  ::ng-deep {
    gridster-item {
      background-color: var(--cds-background);
    }
  }
}
